<div class="docContainer">    
    <div class="header">
        <p>Bill Details</p>
    </div>
    <div class="docRow">
        <div style="width: 100%;"> 
            <app-selectionlist [Caption]="'Doc Series'" [DataSource]="SeriesList" [SelectedItem]="DocHeader()!.Series"  (newItemEvent)="getSeries($event)"></app-selectionlist>
        </div>        
        <div class="formGroup">
            <input type="text" style="text-align: center;" class="formControl" readonly required [(ngModel)]="DocHeader()!.Trans_No"  />
            <label for="" class="formLabel"> Doc No </label>                            
        </div>

        <div class="formGroup">                    
            <input type="date" class="formControl" readonly [ngModel]="DocHeader()!.Trans_Date | intToDate | date:'yyyy-MM-dd'" (blur)="DocHeader()!.Trans_Date = DateToInt($event) " />                    
            <label for="" class="formLabel"> Doc Date </label>                             
        </div>

        <div class="formGroup">                    
            <input type="date" class="formControl" readonly [ngModel]="DocHeader()!.Due_Date! | intToDate | date:'yyyy-MM-dd'" (blur)="DocHeader()!.Due_Date = DateToInt($event) " />                    
            <label for="" class="formLabel"> Due Date </label>                             
        </div>                
    </div>    


    <div class="row" style="align-items: center;">
        <div class="col50" style="display: flex; column-gap: 1rem;">                
                <div [ngClass]="DocHeader()!.TransSno !==0 ? 'disabledDiv' : ''"  style="width: 50%;" >             
                    <app-selectionlist [Caption]="'Reference'" [DataSource]="DocHeader()!.RefList" [SelectedItem]="DocHeader()!.Reference"  (newItemEvent)="getReference($event)" ></app-selectionlist>
                </div>        
            
                @if (DocHeader()!.Series.VouType.VouTypeSno == 18) {
                    <div class="formGroup" style="width: 50%;">                    
                        <input type="number" class="formControl" [(ngModel)]="DocHeader()!.Ref_Amount"/>                    
                        <label for="" class="formLabel"> Amount </label>                             
                    </div>    
                }
        </div>

        <div class="col40">
            @if (EnablePaymentCols()) {
                <div class="row">
                    <div class="col50">
                        <div class="matGroup">
                            <div class="matSelect"> 
                                <mat-select [(value)]="DocHeader()!.Payment_Type">
                                    <mat-option [value]="0">Cash</mat-option>
                                    <mat-option [value]="1">Credit</mat-option>                                                        
                                </mat-select>
                            </div>
                            <div class="matLabel">
                                &nbsp;&nbsp; Payment Type
                            </div>
                        </div>
                    </div>
                    <div class="col50">
                        @if (DocHeader()!.Payment_Type == 0) {
                            <div style="width: 100%; text-align: center;">
                                <button class="btnOutlined" (click)="OpenPaymentModes()" > <i class='bx bx-credit-card-front'></i> Payment Modes </button>
                            </div>
                        }
                    </div>
                </div>
            }

        </div>
        @if (DocHeader()?.TransSno!==0) {
            <div class="col10">
                <i style="font-size: 2rem; cursor: pointer;"  class='bx  bx-barcode' (click)="PrintBarCode()"  ></i> 
                
            </div>
        }
    </div>
    @if (DocHeader()?.Series?.VouType?.VouTypeSno == 24 || DocHeader()?.Series?.VouType?.VouTypeSno == 25) {
        <div class="row">
            <div class="col50">
                <div class="formGroup">
                    <input type="number" class="formControl" NumberInput [(ngModel)]="DocHeader()!.Fixed_Price!"/>                    
                    <label for="" class="formLabel"> Fixed Price </label>                  
                </div>
            </div>
            <div class="col50">
                <div class="formGroup">
                    <input type="number" class="formControl" NumberInput MaxValue="100" [(ngModel)]="DocHeader()!.Commision!"/>                    
                    <label for="" class="formLabel"> Buy Back Price </label>                  
                </div>
            </div>
        </div>
    }

   
    <div class="docRow">
        <div class="formGroup">        
            @if (RefTypeStock == false) {
                @if (this.DocHeader()?.Reference && this.DocHeader()?.Reference?.NettAmount !==0) {
                    <table>
                        <thead> 
                            <th>Doc No</th>
                            <th>Doc Date</th>
                            <th>Amount</th>
                            <th>Weight</th>
                            <th>Rate</th>
                            <th>Buy Back Price</th>
                        </thead>
                        @for (item of RefDetails; track $index) {
                            <tr>
                                <td> {{item.Doc_No}} </td>
                                <td> {{item.Doc_Date | intToDate | date:'dd-MM-yyyy' }} </td>
                                <td> {{item.Doc_Amount | number}} </td>
                                <td> {{item.NettWt}} </td>
                                <td> {{item.Doc_Rate | number}} </td>
                                <td> {{item.Doc_Commision}} </td>                        
                            </tr>
                        }
                        
                    </table>
                    <button style="margin: 1rem;" class="btnOutlined" (click)="OpenRefItems()" >Item Details</button>
                }
            }
            @else {
                @if (this.DocHeader()?.Reference ) {
                    <table>
                        <thead> 
                            <th>Issue No</th>
                            <th>Issue Date</th>
                            <th>Issue Qty</th>
                            <th>Gross Wt</th>
                            <th>Nett Wt</th>
                            <th>Amount</th>
                        </thead>
                        @for (item of RefDetails; track $index) {
                            <tr>
                                <td> {{item.Doc_No}} </td>
                                <td> {{item.Doc_Date | intToDate | date:'dd-MM-yyyy' }} </td>
                                <td> {{item.TotQty | number}} </td>
                                <td> {{item.GrossWt}} </td>
                                <td> {{item.NettWt }} </td>
                                <td> {{item.Doc_Amount | number}} </td>                        
                            </tr>
                        }
                        
                    </table>
                }
            }   
        </div>
    </div>

    @if (ExpectedMetalDetails && ExpectedMetalDetails.length > 0) {
        @if (DocHeader()!.Series.VouType.VouTypeSno == 19) {
            <div style="display: flex; align-items: center; column-gap: 1rem;">
                <span style="font-weight: bold; color: green;">Expected Metal Details </span>
                <i style="font-size: 1.5rem; color: var(--ColorPrimary);" class='bx bxs-hand-down'></i>
            </div>
            
            <table>
                <thead> 
                    <th>Metal</th>
                    <th>Qty</th>
                    <th>GrossWt</th>
                    <th>NettWt</th>
                    <th>PureWt</th>                
                </thead>
                @for (item of ExpectedMetalDetails; track $index) {
                    <tr>
                        <td> {{item.Grp_Name}} </td>                    
                        <td> {{item.Qty}} </td>
                        <td> {{item.GrossWt}} </td>
                        <td> {{item.NettWt}} </td>
                        <td> {{item.PureWt}} </td>                        
                    </tr>
                }
                
            </table>
        }
    }

</div>