<div class="docContainer">    
    <div class="header">
        <p>Bill Details</p>
    </div>
    <div class="docRow">
        <div style="width: 100%;"> 
            <app-selectionlist [Caption]="'Doc Series'" [DataSource]="SeriesList" [SelectedItem]="DocHeader()!.Series"  (newItemEvent)="getSeries($event)"></app-selectionlist>
        </div>        
        <div class="formGroup">
            <input type="text" style="text-align: center;" class="formControl" readonly required [(ngModel)]="DocHeader()!.Trans_No"  />
            <label for="" class="formLabel"> Doc No </label>                            
        </div>

        <div class="formGroup">                    
            <input type="date" class="formControl" readonly [ngModel]="DocHeader()!.Trans_Date | intToDate | date:'yyyy-MM-dd'" (blur)="DocHeader()!.Trans_Date = DateToInt($event) " />                    
            <label for="" class="formLabel"> Doc Date </label>                             
        </div>

        <div class="formGroup">                    
            <input type="date" class="formControl" readonly [ngModel]="DocHeader()!.Due_Date! | intToDate | date:'yyyy-MM-dd'" (blur)="DocHeader()!.Due_Date = DateToInt($event) " />                    
            <label for="" class="formLabel"> Due Date </label>                             
        </div>                
    </div>    


        <div class="row">
            <div class="col50">
                <!-- @if (DocHeader()?.Series?.VouType?.VouTypeSno !== 26) { -->
                    <div>            
                        <app-selectionlist [Caption]="'Reference'" [DataSource]="DocHeader()!.RefList" [SelectedItem]="DocHeader()!.Reference"  (newItemEvent)="getReference($event)" ></app-selectionlist>
                    </div>        
                <!-- } -->
                <!-- @if (DocHeader()?.Series?.VouType?.VouTypeSno == 26) { -->
                    <!-- <div>            
                        <app-selectionlist [Caption]="'Testing Item'" [DataSource]="DocHeader()!.BarRefList" [SelectedItem]="DocHeader()!.BarReference"  (newItemEvent)="getAssayItem($event)" ></app-selectionlist>
                    </div>        -->
                <!-- } -->
            </div>

            <div class="col50">
                @if (EnableAmountCols()) {
                    <div class="row">
                        <div class="col50">
                            <div class="matGroup">
                                <div class="matSelect"> 
                                    <mat-select [(value)]="DocHeader()!.Payment_Type">
                                        <mat-option [value]="0">Cash</mat-option>
                                        <mat-option [value]="1">Credit</mat-option>                                                        
                                    </mat-select>
                                </div>
                                <div class="matLabel">
                                    &nbsp;&nbsp; Payment Type
                                </div>
                            </div>
                        </div>
                        <div class="col50">
                            @if (DocHeader()!.Payment_Type == 0) {
                                <div style="width: 100%; text-align: center;">
                                    <button class="btnOutlined" (click)="OpenPaymentModes()" > <i class='bx bx-credit-card-front'></i> Payment Modes </button>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        

   
    <div class="docRow">
        <div class="formGroup">
            
            @if (this.DocHeader()?.Reference && this.DocHeader()?.Reference?.NettAmount !==0) {
                {{RefDetails}}
            }
            
        </div>
    </div>
    
</div>