<div [@myAnimation]="state">
    <div class="listContainer">
        <div class="headerCard">
            <div class="headerLeft">     
                <span class="bar"></span>
                <p class="heading"> &nbsp; Ledger Groups</p>        
            </div>

            <div class="headerRight">
                <button class="newBtn" (click)="AddNewLedgerGroup()">
                    <i class='bx bx-plus bx-tada' ></i>Create New
                </button>          
            </div>
        </div>

        <div class="tableBody">

            @defer (when LedgerGroupsList.length >0) {
                <app-tableview [DataSource]="LedgerGroupsList" [FieldNames]="FieldNames" [RemoveSignal]="RemoveSignal" (actionEvent)="handleActionFromTable($event)" >      </app-tableview>                        
            }
            @placeholder {
                <p>Items list Here</p>
            }
            @loading {
                <p>Loading in Progress</p>
            }

            <!-- @if (GroupsList.length >0){
                
            }
            @else{
                <p>No Data</p>            
            } -->
            
        </div>

    </div>
</div>