<div [@myAnimation]="state">

    <div class="formWrapper">
        
        <div class="client">
            <app-clientcard [SelectedClient]="SelectedClient" (onChangedClient)="NewClientChanged($event)" />
        </div>

        <div class="doc">
            <app-docheader [DocHeader]="DocHeader" [DocFooter]="DocFooter" [EnableAmountCols]="EnableAmountCols" (actionEvent)="handleActionFromChild($event)"   />
        </div>    
        
      

        <div class="header">
            <app-titleheader [Title]="VouTypeName" (actionEvent)="handleActionFromChild($event)" />                    
        </div>
         
        
        
        <div class="item">
            <app-item-grid  [GridItems]="GridItems" 
                            [DocFooter]="DocFooter" 
                            [ImageSource]="ImageSource" 
                            [EnableBarCode]="EnableBarCode" 
                            [EnableAmountCols]="EnableAmountCols"
                            [StockSelection] = "StockSelection"
                            [GenerateBarCode]="GenerateBarCode"
                            />
        </div> 

        <div class="footer">
            <app-docfooter [DocFooter]="DocFooter" [EnableAmountCols]="EnableAmountCols"  (actionEvent)="handleActionFromChild($event)"  />    
        </div>       

    </div>
</div>