.footerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;

    .footerLeft{

    }

    .footerRight{
        a{
            text-decoration: none;
            font-weight: 500;
            color: rgb(45, 71, 151);
        }
    }
}