<div class="tableContainer">
    <div class="topDiv">
        <div class="searchBox">
            <div class="generalSearchBox">
                <input type="text" required  placeholder="Type here to Search for Loan" [(ngModel)]="searchText" />                
                <div class="iconRight">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div> 
            </div>
        </div>

        <div class="rightControls">
            <i class='bx bxs-download' style="color: purple;" ></i>
        </div>
    </div>

    <div class="tableBody">
        <table>
            <thead>
                @for (element of FieldNames(); track $index) {
                    <th [style.textAlign]=" element == 'Actions'? 'center' : 'left' " >                        
                        {{ element.replace("_"," ") }} 
                    </th>
                }
            </thead>

            <tbody>
                @for (row of DataList| search: searchText ; track row; let i=$index ){
                    <tr>
                        @for (element of FieldNames(); track $index) {

                            @switch (element) {
                                @case ("#") {
                                    <td> {{i+1}} </td>
                                }
                                @case ("Actions") {
                                    <td class="actions" >                                    
                                        <i (click)="EditRecord(row)" class='bx bx-edit edit' ></i>
                                        <i (click)="DeleteRecord(row,i)" class='bx bx-trash-alt delete' ></i>
                                    </td>
                                }                                
                                @default{
                                    @if (element.toLocaleLowerCase().includes("image") ) {
                                        <td>
                                            @defer (when row[element] && row[element].length > 0 ) {
                                                <img style="border-radius: 50%; filter: drop-shadow(8px 10px 8px #D3AC67); " [src]="row[element]"  width="70" height="70" />
                                            }                                            
                                            @loading {
                                                <span>Loading Image</span>
                                            }                                            
                                        </td>                                        
                                         
                                    }
                                    @else {
                                        <td> {{row[element]}} </td>
                                    }                                    
                                }
                            }                
                        }                
                    </tr>
                }        
            </tbody>
        </table>
    </div>
</div>