
.formWrapper{
    display: grid;
    grid-template-rows: .3fr .5fr 1.5fr .5fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'header header'
        'doc client'
        // 'moreinfo moreinfo'
        'item item'
        'footer footer';
    gap: .5rem;

    .header{
        grid-area: header;                
    }

    .doc{        
        grid-area: doc;        
    }
    // .moreinfo{        
    //     grid-area: moreinfo;
    // }

    .item{
        
        grid-area: item;
    }
    .footer{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        grid-area: footer;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .formWrapper{
        grid-template-rows: .3fr 1fr 1fr 2fr .5fr;
        grid-template-columns: 1fr ;
        grid-template-areas: 
        'header header'
        'doc doc'
        'client client'
        'moreinfo moreinfo'
        'item item'
        'footer footer';
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}